// @import '@/../node_modules/papercss/src/styles';
@import url('https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC');

$header-font: 'Patrick Hand SC' !default;
$body-font: 'Neucha' !default;

$primary: #1976d2;
