@import './overrides';
@import '@/../node_modules/bootstrap/scss/functions';
@import '@/../node_modules/bootstrap/scss/variables';
@import '@/../node_modules/bootstrap/scss/mixins';
@import '@/../node_modules/bootstrap/scss/utilities';
@import '@/../node_modules/papercss/src/styles';

body,
html {
  height: 100%;
  // background-attachment: fixed;
  // background-image: url('/public/maxhead.png');
  // background-position: bottom right;
  // background-repeat: no-repeat;
  // background-size: auto;
}

// body {
//   margin-top: 4rem;
// }

.row {
  margin-left: -1rem;
  margin-right: -1rem;

  &.small-gutters {
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    .col {
      padding: 0.25rem;
    }
  }
}
