@import './variables';

body,
html {
  font-family: $body-font, sans-serif;
  height: 100%;
  // background-attachment: fixed;
  // background-image: url('/public/maxhead.png');
  // background-position: bottom right;
  // background-repeat: no-repeat;
  // background-size: auto;

  .v-application {
    font-family: $body-font, sans-serif;
  }
}

// body {
//   margin-top: 4rem;
// }

.v-application {
  h1.text-h1,
  h2.text-h2,
  h3.text-h3,
  h4.text-h4,
  h5.text-h5,
  h6.text-h6 {
    font-family: $header-font, sans-serif !important;
    font-weight: normal;
  }
}

a {
  text-decoration: inherit;
}

.clickable {
  cursor: pointer;
}
